/* registration.component.css */
form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f9f9f9;
}

label {
    margin-top: 1em;
    display: block;
    font-weight: bold;
}

input,select{
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

span {
    color: red;
    font-size: 0.9em;
}

button {
    margin-top: 1em;
    padding: 0.7em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}