<!-- <div class="profile-container">
    <div class="profile-card">
        <h2>Profile</h2>
        <div class="profile-item">
            <strong>Name:</strong> {{ myForm.get('name')?.value }}
        </div>
        <div class="profile-item">
            <strong>Email:</strong> {{ myForm.get('email')?.value }}
        </div>
        <div class="profile-item">
            <strong>Age:</strong> {{ myForm.get('age')?.value }}
        </div>
        <div class="profile-item">
            <strong>Password:</strong> {{ myForm.get('password')?.value }}
        </div>
    </div>
</div> -->
<div style="margin-top: 50px;">Hi</div>
Profile works!