/* registration.component.css */
form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f9f9f9;
}

label {
    margin-top: 1em;
    display: block;
    font-weight: bold;
}

input,select{
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

span {
    color: red;
    font-size: 0.9em;
}

button {
    margin-top: 1em;
    padding: 0.7em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.profile-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.profile-container p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.logout-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #0056b3;
}